name: golangci-lint
on:
  push:
    branches:
      - main
      - development
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.21
      uses: actions/setup-go@v4
      with:
        go-version: "1.21.1"
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
    - name: Get dependencies
      run: |
          go get -v -t -d ./...
          if [ -f Gopkg.toml ]; then
             curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
             dep ensure
          fi
    - name: Build Project
      run: go build -v .
    - name: Run Tests
      run: go test -v ./...
    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: latest
        args: --timeout=15m --out-format=line-number
